@model BookStore.ViewModels.EditarLivroViewModel

@{
    ViewBag.Title = "Criando um novo livro";
}

@helper MinhaFuncao(string nome) { 
        <text>O nome informado é @nome</text>
    }

<h2>Novo Livro</h2>

@using (Html.BeginForm())
{
    @Html.Partial("Partials/EditarLivroPartial", Model)

    <button type="submit" class="btn btn-default">Submit</button>
}


<p>
    @MinhaFuncao("Sidney François")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")    
}